:root {
    --tile-size: 80px;
    --light-tile: #E8EDF9;
    --dark-tile: #B7C0D8;
    --bg-color: #34364C;
    --active: #7B61FF;
    --piece-black: #34364C;
    --piece-white: #F4F7FA;
    
}

@media all and (max-width: 450px) {
    :root {
        --tile-size: 50px;
    }
}